<%= content_for :menu do %>
    <div id="menu-msg"><%= link_to (image_tag 'gnome_text.png'), new_wall_widget_url(@wall), remote: true, onclick:'newContent="msg"' %><span>Post</span></div>
    <div id="menu-photo"><%= link_to (image_tag 'gnome_photo.png'), new_wall_widget_url(@wall), remote: true, onclick:'newContent="photo"' %><span>Photo</span></div>
    <div id="menu-qna"><%= link_to (image_tag 'gnome_qna.png'), '#' %><span>Q&A</span></div>
    <!--<div id="menu-title">Faith 4-4</div>-->
<%end%>

<div id="container">
    <%= render @widgets %>
</div>

<div id="secretReload" style="display:none"></div>

<script>
    var newContent = '';
    var $widgetContent = '';
    var $widgets ='';
    var $container = $('#container');
    $container.imagesLoaded(function(){
          $container.masonry({
            widgetSelector : '.widget',
            columnWidth : 300,
            isAnimated: true,
            animationOptions: {
                duration: 100,
                easing: 'linear',
                queue: false
            }
        });
     });   
    $(function(){
        $('.fancybox').fancybox({openEffect:'elastic',closeEffect:'elastic'});
        //check activerecord for new entry, load new entry to masonry
        $('#secretReload').click(function(){
            $widgets = $('.widget.new');
            $widgetContent = $($(this).html());
            $container.masonry('remove',$widgets);
            $container.imagesLoaded(function(){
                $container.prepend($widgetContent).masonry('reload');
            });
            $(this).empty();
        });     
    });
</script>