<div id="wall-title">My Classboard Faith 4-4 </div>
<div id="menu">
        <div id="menu-msg"><%= image_tag 'postIt.png'%><span>Post</span></div>
        <div id="menu-photo"><%= image_tag 'photos.png'%><span>Photo</span></div>
</div>

<div id="container">
    <%= render @experiences %>
</div>

<div id="secretReload" style="display:none"></div>

<script>
    var $itemContent = '';
    var $items ='';
    var $container = $('#container');
    $container.imagesLoaded(function(){
          $container.masonry({
            itemSelector : '.item',
            columnWidth : 300,
            isAnimated: true,
            animationOptions: {
                duration: 300,
                easing: 'linear',
                queue: false
            }
        });
     });   
    function reflection() {
        var previewFrame = document.getElementById('mirror');
        var preview =  previewFrame.contentDocument ||  previewFrame.contentWindow.document;
        preview.open();
        preview.write("<%= escape_javascript(render template: 'experiences/new_photo')%>");
        preview.close();
    }
    function closeItem(){
        var rty = this;
        alert(rty);
    }
    $(function(){
        //check activerecord for new entry, load new entry to masonry
        $('#secretReload').click(function(){
            $items = $('.item.new');
            $itemContent = $($(this).html());
            $container.masonry('remove',$items);
            $container.imagesLoaded(function(){
                $container.prepend($itemContent).masonry('reload');
            });
            $(this).empty();
        });
        $('#menu-msg').click(function(){
            if($('.item.new.msg').length>0){ 
                $items=$('.item.new.msg'); 
                $container.masonry('remove', $items).masonry('reload');
            }else{
                $itemContent = $('<div class="item new msg"><%= escape_javascript(render template: "experiences/new_message")%></div>');
                $container.prepend($itemContent).masonry('reload');
                $('.item.new.msg textarea').focus();
            }
        });
        $('#menu-photo').click(function(){
            if($('.item.new.photo').length>0){ 
                $items=$('.item.new.photo'); 
                $container.masonry('remove', $items).masonry('reload');
            }else{
                $itemContent = $('<div class="item new photo"><%= escape_javascript(render template: "experiences/new_photo")%></div>');
                //$itemContent = $('<div class="item new photo"><iframe seamless="seamless" id="mirror" name="mirror-frame"></iframe></div>');
                $container.prepend($itemContent).masonry('reload');
                reflection();
            }   
        });      
    });
</script>