<div class="item" id='<%= "item-#{experience.id}"%>'>
	<% if experience.content? %>
		<span class='item-body'><%= experience.content%></span>
	<%end%>
	<% if experience.photo? %>
		<%= image_tag experience.photo_url(:thumb).to_s, class:"item-photo" %>
	<%end%>
	<span class='item-footer'>Guest posted a message <%= time_ago_in_words experience.created_at %>. <%= link_to 'Comment', new_experience_comment_path(experience), class:'item-addcomment', remote: true %></span>
	<% if experience.comments.exists? %>
		<%= render experience.comments.order('created_at desc') %>
	<%end%>
</div>