<!DOCTYPE html>
<html>
<head>
  <title>Classwall</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
<div id="menu">
    <div id="menu-account"><%= image_tag 'gnome_avatar.png'%><span>Account</span></div> 
    <%= yield :menu %>
</div>
<div id="account-menu">
	<%= link_to 'signout', destroy_user_session_path, method: :delete %>
</div>
<% end %>

<!-- edit flash notice
<div class="flash">
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
</div>
-->
<div id="content">
	<%= yield %>
</div>

<script>
	$(document).ready(function(){
		$('#menu-account').click(function(){
			$('#account-menu').toggle();
		});
	});
</script>
</body>
</html>
