<!DOCTYPE html>
<html>
<head>
  <title>Classwall</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

<script>
	    //var gridster = $(".gridster ul").gridster({
	    //    widget_margins: [5, 5],
	      //  widget_base_dimensions: [200, 200]	        
	    //}).data('gridster');	
</script>
</body>
</html>
